# PostgreSQL Database URL
# Run `bun run dev:db` to start and configure a local PostgreSQL instance
DATABASE_URL=postgresql://fangafunk@localhost:5432/monorepo_dev

PORT=3001
TRUSTED_ORIGINS=http://localhost:3000,http://localhost:3001,http://localhost:3002
FRONTEND_URL=http://localhost:3000

STRIPE_SECRET_KEY=sk_test_...
STRIPE_WEBHOOK_SECRET=whsec_...

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadminpassword
MINIO_BUCKET_NAME=my-app-bucket
MINIO_ENDPOINT=http://127.0.0.1:9000
MINIO_PUBLIC_URL=http://127.0.0.1:9000

DISCORD_WEBHOOK_URL=your_discord_webhook_url_here

ENCRYPTION_SECRET=fjdsklfjsdlkjfosdjfklj34kkjkfsd09980f

# Logging (optional)
# LOG_LEVEL=debug
# LOGTAIL_TOKEN=your_logtail_token_here

