@import '@repo/ui/src/styles/tailwind.css';

@source "../**/*.{svelte,ts,js}";

@font-face {
    font-family: "Helvena";
    src: url("/HELVENA-REGULAR.OTF");
}

html, body {
    background-color: #050505;
}